body
{
    background-color: #DAEDDD; /*light gray/blue*/
    font-family: "Georgia", Times, serif;
}

.container h1
{
    text-align: center;
    padding: 10px;
    color: #484848; /*dark gray*/
}

form
{
    background-color: white;
    color: #484848; /*gray*/
    border-radius: 1%;
    padding: 20px;
    margin-bottom: 15px;
}

form input, textarea
{
    background-color: #E8E8E8; /*light gray*/
    margin: 10px;
    width: 50%;
    height: 40px;
    border: none;
}

#description
{
    height: 60px; 
}

.btn
{
    padding: 10px;
    margin-bottom: 15px;
    width: 100px;
}
