.container h1
{
    text-align: center;
}

.card-body
{
    text-align: center;
    margin: 50px;
    border-style: solid;
    margin-bottom: 15px;
}

form
{
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
}

form input, textarea
{
    margin: 10px;
    width: 50%;
    height: 40px;
}

#description
{
    height: 60px; 
}

.btn
{
    padding: 10px;
    margin-bottom: 15px;
    width: 100px;
}
